.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .8rem;
  border-radius: 8px;
  color: gray;
  font-size: 14px;
  user-select: none;
  background-color: #f9eddc;
  cursor: pointer;
  margin-top: 1rem;
}
