.rejectedDocsContainer {
  background-color: #f9eddc;
  padding: 1rem;
  margin: 1rem 0 0 0;
  border-radius: 8px;
}

.rejectedDocsContainer div {
  margin-top: 1rem;
}
.rejectedDocsContainer div p {
  padding-top: 0.5rem;
}

.heading {
  font-weight: 500;
  font-size: 25px;
}
