.body {
  background-color: #f1f6eb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: block;
  padding: 2rem 5rem 2rem 5rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  width: 700px;
  border: 1px solid yellow;
  padding: 2rem;
  border-radius: 8px;
  background-color: #053233;
  color: white;
}
.resetPasswordContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  width: 700px;
  height: 400px;
  border: 1px solid yellow;
  padding: 2rem;
  border-radius: 8px;
  background-color: #053233;
  color: white;
}

.heading {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 20px;
}

.subHeading {
  font-weight: 500;
  font-size: 22px;
}

.container > :nth-child(2) {
  margin: 1rem 0 1.5rem;
}

.promptText {
  display: block;
  text-align: center;
  color: #053233;
  margin-top: 2rem;
  font-size: 18px;
}

.link {
  display: block;
  text-align: center;
  color: #859762;
  margin: 8px auto 0;
  font-size: 18px;
}
.forgotLink {
  text-decoration: underline;
  cursor: pointer;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.0025em;
  text-align: left;
  margin-top: 10px;
  color: #fbfbf6;
}

.authButton {
  background-color: #f9cd63;
  color: #053233;
  height: 35px;
  width: 100px;
}

.toggleEye {
  position: absolute;
  size: 15px;
  right: 10px;
  color: #053233;
  top: 35px;
  cursor: pointer;
}

.toggleEyeForReset {
  position: absolute;
  size: 15px;
  right: 10px;
  color: #053233;
  top: 10px;
  cursor: pointer;
}

.loginButton {
  margin-left: 130px;
  margin-top: 15px;
  border-radius: 8px;
  size: 22px;
}
.loginPasswordBox {
  position: relative;
  margin-top: 15px;
}
.passwordBoxName {
  margin-bottom: 5px;
  font-size: 16px;
}
.resetPasswordBox {
  position: relative;
  margin-bottom: 20px;
  color: orangered;
}
.resetSendButton {
  margin-top: 38px;
  align-items: center;
  margin-left: 120px;
}
.logoResetPage {
  display: block;
  padding: 5rem 5rem 3rem 5rem;
  margin-left: 350px;
}
.containerResetPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  width: 636px;
  height: 266px;
  padding: 2rem;
  border-radius: 8px;
  background-color: #053233;
  color: white;
}
.errorMessage {
  color: orangered;
  padding-top: 5px;
  font-size: 12px;
}
.checkPasswordNote {
  color: white;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  font-family: 'Roboto';
  font-size: 12px;
}
.Note {
  color: orangered;
  padding: 7px;
  font-weight: 700;
  font-size: 12px;
}
.mailSentSuccessfully {
  width: 466.5px;
  height: 415px;
  background: #ffffff;
  border-radius: 19.0331px;
}
.Tick {
  height: 170px;
  width: 170px;
  margin-left: 130px;
  margin-top: 70px;
}
.closeIcon {
  color: #302e2eda;
  position: right;
  margin-top: 18px;
  margin-left: 200px;
}

.mailSentSuccessfullyText {
  text-align: center;
  margin-top: 46px;
  margin-left: 99px;
  font-style: bold;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  display: flex;
  letter-spacing: 0.0015em;
  color: #003032;
  mix-blend-mode: normal;
  opacity: 0.87;
}
.outerMailContainer {
  background-color: #053233;
  height: 100vh;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  opacity: 0.9;
}
.mailContainer {
  position: absolute;
  width: 466.5px;
  height: 415px;
  background: #ffffff;
  box-shadow: 0px 25.3774px 38.0662px rgba(123, 123, 123, 0.14),
    0px 9.51654px 47.5827px rgba(123, 123, 123, 0.12),
    0px 12.6887px 15.8609px rgba(123, 123, 123, 0.2);
  border-radius: 19.0331px;
  margin-top: 128px;
  z-index: 11;
}
.noteContainer {
  /* margin-top: 310px; */
  box-sizing: border-box;
  width: 380px;
  /* position: absolute */
  background: #003032;
  border: 1px solid #ff7056;
  border-radius: 8px;
}
