.container {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 20px;
  border-radius: 8px;
  filter: drop-shadow(0px 2.92188px 2.92188px rgba(0, 0, 0, 0.25));
  position: absolute;
  background-color: #fbfbf6;
}

.dateRangePicker {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.btnContainer {
  background-color: #fbfbf6;
  display: flex;
  justify-content: space-around;
  position: relative;
  padding: 1rem;
}

.resetButton {
  width: 53px;
  height: 21px;
  position: absolute;
  right: 2rem;
  top: 0.3rem;
  background-color: #fbfbf6;
  border: 1px solid #859762;
  border-radius: 1px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.0025em;
  color: #859762;
}
