.container {
  padding: 30px;
  position: relative;
  color: #053233;
  max-width: 100%;
  width: 467px;
}

.smallErrorMsg {
  color: #ff7056;
  margin: 3px 0 0 10px;
  font-size: 1rem;
}

.dateInputDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.datePickerContainer {
  position: absolute;
  top: 45px;
  left: 0px;
  z-index: 2;
}

.dateInputContainer {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  position: relative;
  font-size: 14px;
  padding: 10px;
  border-radius: 8px;
  width: 268px;
  max-width: 100%;
  background-color: #f9eddc;
  color: #9d9d9d;
  /* border: 1px solid red; */
}

.subContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.heading {
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 1rem;
}

.label {
  margin-top: 1rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.label > p {
  width: 150px;
}

.errorMsg {
  color: #ff7056;
  text-align: center;
  font-size: 1.5rem;
}

.closeIcon {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
}

.submitBtn {
  background-color: #f9cd63;
  width: 173px;
  height: 57px;
  margin-left: 11rem;
  margin-top: 1rem;
}
