.container {
  background-color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  color: #053233;
}

.heading {
  font-weight: 500;
  font-size: 25px;
}

.closeIcon {
  position: absolute;
  top: 6%;
  right: 6%;
  cursor: pointer;
}
