.sectionSubHeading {
  margin: 20px 0 15px;
  font-weight: bold;
}

.sectionHeading {
  margin: 30px 0;
  font-size: 16px;
  text-decoration: underline;
  font-weight: bold;
}

.inputContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 8px;
  gap: 20px;
}

.input[type='text'],
.input[type='select'] {
  outline: none;
}

.input[type='text']:disabled {
  cursor: not-allowed;
}

.hide {
  display: none;
}
.inputContainer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.input {
  width: 167px;
  background: transparent;
}

.inputContainer label {
  width: 174px;
}

.gridSectionContainer {
  display: grid;
  grid-template-columns: 46% 48%;
  column-gap: 35px;
}

.gridSectionContainer .inputContainer:nth-child(even) label {
  width: 207px;
  margin-right: 19px;
}

.threeSectionGridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.threeSectionGridContainer label {
  display: flex;
  align-items: center;
  max-width: 60px;
  margin-right: 18px;
}

.errorMessage {
  font-weight: 500;
  font-size: 14px;
  line-height: 12px;
  letter-spacing: 0.0025em;
  color: #ff7056;
  margin-top: 5px;
}
.normalBorder {
  border: 1px solid #9d9d9d;
}
.errorBorder {
  border: 1px solid #ff7056;
}
