.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1d4846;
  margin: 3rem 20px 0;
}

.partnerName {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.partnerName > h1 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.partnerAddress {
  margin: 0;
  font-size: 15px;
  font-weight: 400;
}

.notificationIcon {
  cursor: pointer;
}

.notificationContainer {
  position: relative;
}

.notificationBadge {
  position: absolute;
  top: -1px;
  right: -1px;
  font-weight: 400;
  font-size: 10px;
  cursor: pointer;
}
