.container {
    position: relative;
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    cursor: pointer;
    opacity: 1;
    text-align: center;
    margin: auto;
    align-items: center;
  }
  .containerModal{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #ffffff;
    padding-top: 12px;
    padding-bottom: 12px;
    overflow: hidden;
    width: 400px;
    height: 370px;
    cursor: default;
    z-index: 100;
    border-radius: 19.0331px;
    opacity: 1;
    box-shadow: 0px 25.3774px 38.0662px rgba(123, 123, 123, 0.14),
      0px 9.51654px 47.5827px rgba(123, 123, 123, 0.12),
      0px 12.6887px 15.8609px rgba(123, 123, 123, 0.2);
  }
  .modal {
    position: relative;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #ffffff;
    padding-top: 12px;
    padding-bottom: 12px;
    overflow: hidden;
    width: 400px;
    height: 370px;
    cursor: default;
    z-index: 100;
    border-radius: 19.0331px;
    opacity: 1;
    box-shadow: 0px 25.3774px 38.0662px rgba(123, 123, 123, 0.14),
      0px 9.51654px 47.5827px rgba(123, 123, 123, 0.12),
      0px 12.6887px 15.8609px rgba(123, 123, 123, 0.2);
  }
  
  .closeIcon {
    color: #302e2eda;
    position: absolute;
   top:.8rem;
   right:.8rem;
    cursor: pointer;
  }
  .imageStyles {
    position: relative;
   display: flex;
  
   justify-content: center;
  }
  .imageAndText{
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .dataToDisplay{
    margin-top: 46px;
    font-style: bold;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.0015em;
    color: #003032;
    mix-blend-mode: normal;
    opacity: 0.87;
  
  
  }
  