.container {
  background-color: white;
  color: #859762;
  border-radius: 19.0331px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.heading {
  font-weight: 600;
  font-size: 22px;
  color: #003032;
  margin-top: 23px;
  opacity: 0.87;
}

.subHeading {
  color: #003032;
  font-size: 1rem;
  max-width: 70%;
  text-align: center;
  opacity: 0.7;
  margin-top: 8px;
}

.linkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: rgba(0, 48, 50, 0.87);
  font-weight: 500;
  margin-top: 20px;
}

.linkContainer p {
  text-decoration: none;
  background-color: #fbce60;
  padding: 12px 41px;
  border-radius: 9.6px;
  cursor: pointer;
}
