.container{
    margin-bottom: 10px;
}

.inputBox {
  width: 14px;
  height: 24px;
  background: #053233;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  margin: 0 20px;
  font-size: 25px;
  padding: 0 10px;

}

.inputBox:focus {
  outline: none;
}
