.container {
  display: flex;
  justify-content: flex-end;
  column-gap: 15px;
  color: #9d9d9d;
  padding: 20px 10px;
  margin-left: auto;
  font-weight: 400;
  font-size: 13px;
}

.pageBtn {
  cursor: pointer;
  background: transparent;
  border: none;
  color: #9d9d9d;
}
.prevNextBtn {
  cursor: pointer;
  background: transparent;
  border: none;
  color: #053233;
}
.prevNextBtn:disabled {
  color: #9d9d9d;
  cursor: not-allowed;
}

.pageBtn:hover {
  color: #053233;
}

.active {
  color: #053233;
}
