.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 2rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0 1rem 1rem 0;
}

.table,
.table td {
  border: 1px solid black;
}

.table td {
  padding: 0.5rem 1rem;
}

.table {
  border-collapse: collapse;
}
