.container {
  color: #053233;
  max-width: 133px;
  width: 100%;
  padding: 16px 26px;
  border-radius: 8px;
  position: relative;
}

.amount {
  margin-top: 1rem;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.iconsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 7px;
  right: 12px;
}

.iconsContainer :first-child {
  margin-bottom: 20px;
}

.iconsContainer > * {
  cursor: pointer;
}

.checkIcon {
  padding: 0 5px;
}

.downloadBtn {
  background-color: #f9cd63;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
}
.closeIcon {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
}
