.container {
  background-color: white;
  color: #053233;
  width: 50%;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

.value {
  font-size: 44px;
  font-weight: 700;
}

.title {
  font-size: 20px;
  font-weight: 400;
}
