.container {
  background-color: #f1f6eb;
  color: #053233;
  padding: 20px;
  border-radius: 8px;
  height: 100%;
  margin-top: 20px;
}

.videosContainer {
  display: flex;
  column-gap: 80px;
  margin: 30px 0 50px;
  flex-wrap: wrap;
}

.videosContainer > div > iframe {
  margin-bottom: 20px;
}

.heading {
  font-weight: 500;
  font-size: 28px;
}

.link {
  font-weight: 500;
  font-size: 28px;
  text-decoration: underline;
  cursor: pointer;
  color: #053233;
}
