.container {
  background-color: #f1f6eb;
  color: #1d4846;
  padding: 20px;
  border-radius: 8px;
}

.heading {
  font-size: 25px;
  font-weight: 500;
}

.userDetailsConatiner {
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin-top: 30px;
}

.userContact {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.userContact > * {
  font-size: 20px;
  font-weight: 400;
}

.userName {
  font-size: 30px;
  font-weight: 700;
}
