.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 543px;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  letter-spacing: -0.002em;
  color: #003032;
  padding-top: 8px;
}
.subTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.0025em;
  color: #003032;
  opacity: 0.7;
  padding-top: 14px;
}
